/bin/*
/examples/bin/*
/data
/todo/*
/c/*
/diffs/*
/build/*.log
*.a
*.c
*.dat
*.h
*.o
*.7z
*.di
*.cpp
*.dat
*.log
*.lib
*.dll
*.exe
*.map
*.obj
*.rar
*.xml
*.deps
*.modTime
*.exe_cv
*.gui
*.pdb
*.zip
